<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/index_page.css"/>
    <link rel="stylesheet" href="stylesheets/email_complete.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/emailAutoComplete.js"></script>
    <script src="javascripts/utility.js"></script>
    <script src="javascripts/index.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top height" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wave Team</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-my">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="/newshome">News</a></li>
                <% if (user) { %>
                    <li><a href="/tradehome">Transactions</a></li>
                    <li><a href="/userinfo">User</a></li>
                <% }  %>
            </ul>
            <label class="username-label welcome none">Welcome<span id="username-span"></span></label>
            <% if (user) { %>
                <label class="username-label register none" data-toggle="modal"
                   data-target="#register-dialog"><%=user.email %></label>
                   <label class="username-label register none" data-toggle="modal" onclick="logout()">logout</label>
            <% } else { %>
                <label class="username-label register none" data-toggle="modal"
                   data-target="#register-dialog">Register</label>
                <label class="username-label login none" data-toggle="modal" data-target="#login-dialog">Login</label>
            <% } %>
        </div>
    </div>
</nav>

<div class="container theme-showcase">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item imageInfo active">
                <img data-src="holder.js/1140x500/auto/#666:#444/text:First slide" alt="First slide [1140x500]"
                     src="images/lunbotu1.jpg"
                     data-holder-rendered="true">
            </div>
            <div class="item imageInfo">
                <img data-src="holder.js/1140x500/auto/#666:#444/text:Second slide" alt="Second slide [1140x500]"
                     src="images/lunbotu2.jpg"
                     data-holder-rendered="true">
            </div>
            <div class="item imageInfo">
                <img data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Third slide [1140x500]"
                     src="images/lunbotu3.jpg"
                     data-holder-rendered="true">
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div id="table">
    <div class="title trade-table">
        <h4>Trade Information</h4>
    </div>
    <div class="col-md-9 trade-table">
        <div id="table-box">
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>#</th>
                    <th>交易品种</th>
                    <th>开盘价</th>
                    <th>最高价</th>
                    <th>最低价</th>
                    <th>昨日收盘价</th>
                    <th>卖价</th>
                    <th>买价</th>
                    <th>最新价</th>
                    <th>结算价</th>
                    <th>昨结算</th>
                    <th>持仓量</th>
                    <th>成交量</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="floats">
    <div class="float img-width">
        <div class="panel ">
            <div class="panel-heading panel-color">
                <h3 class="panel-title title-color">Know & Try</h3>
            </div>
            <div class="panel-body">
                <img class="img" src="images/know%20and%20try.png">
                <p>
                    At the risk of repeating ourselves, it's important to note that futures trading is not for everyone.
                    You can invest in the futures market in a number of different ways, but before taking the plunge,
                    you must be sure of the amount of risk you're willing to take.

                </p>
                <button type="button" class="btn btn-sm btn-default panel-color title-color">More</button>
            </div>
        </div>
    </div>

    <div class="float img-width" style="margin-left: 3px">
        <div class="panel">
            <div class="panel-heading panel-color">
                <h3 class="panel-title title-color">Our Team</h3>
            </div>
            <div class="panel-body">
                <img class="img" src="images/futures_trading_concept.jpg">
                <p>
                    Our team focus on different aspects of futures trading. We have learnt knowledge of futures trading.
                    We apply data mining technology into the prediction of futures tading transactions.
                </p>
                <button type="button" class="btn btn-sm btn-default panel-color title-color">More</button>
            </div>
        </div>
    </div>

    <div class="float font-width" style="margin-left: 3px">
        <div class="panel">
            <div class="panel-heading panel-color">
                <h3 class="panel-title title-color">Trading Types</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Metals</li>
                    <li>Crops</li>
                    <li>Silk</li>
                    <li>Energy</li>
                    <li>Chemistry</li>
                </ul>
                <button type="button" class="btn btn-sm btn-default panel-color title-color">More</button>
            </div>
        </div>
    </div>

</div>

<div class="news-panel">
    <div class="panel">
        <div class="panel-heading panel-color">
            <h3 class="panel-title title-color">Latest News</h3>
        </div>
        <%for(var i = 0 ; i < (newsBasicArr.length > 12 ? 12 : (newsBasicArr.length - newsBasicArr.length % 2)) ; i+=2){%>
        <div class="panel-body">
            <div class="float" style="margin-left: -30px;width:280px">
                <img class="news-img" src="images/<%=i%>.jpg">
            </div>
            <div class="float news-width">
                <p>
                    <a href="/newsdetail?id=<%=newsBasicArr[i].id%>" style="color:black;">
                        <%=newsBasicArr[i].content.substr(0,300) + "..."%>
                    </a>
                </p>
            </div>

            <div class="float" style="width:280px">
                <img class="news-img" src="images/<%=i+1%>.jpg">
            </div>
            <div class="float news-width">
                <p>
                    <a href="/newsdetail?id=<%=newsBasicArr[i+1].id%>" style="color:black;">
                        <%=newsBasicArr[i+1].content.substr(0,300) + "..."%>
                    </a>
                </p>
            </div>
        </div>
        <%}%>
    </div>
</div>


<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-3 fh5co-widget my-footer">
                <h4>Wave Team's Law</h4>
                <ul>
                    <li>perseverance</li>
                    <li>determination</li>
                    <li>circumspection</li>
                </ul>
            </div>
            <div class="col-md-3 col-md-push-1 my-footer">
                <h4>Navigation</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="trade_home.html">Transactions</a></li>
                    <li><a href="user_info.html">User</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-md-push-1 my-footer">
                <h4>Contact Information</h4>
                <ul class="fh5co-footer-links">
                    <li>4800 Caoan Street, <br> Tongji University</li>
                    <li>+86 18201961136</li>
                    <li>xiaoruiruisen@126.com</li>

                </ul>
            </div>

            <div class="col-md-3 col-md-push-1 my-footer">
                <h4>About us</h4>
                <ul class="fh5co-footer-links">
                    <li>Software Engineering</li>
                    <li>Senior students</li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block my-footer">Copyright &copy; 2017.Wave Team All rights reserved.</small>
                </p>
            </div>
        </div>

    </div>
</footer>


<div class="modal fade" tabindex="-1" role="dialog" id="login-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content background">
            <div class="modal-header align-center no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body no-border">
                <form>
                    <div class="input-group login_input">
                        <input type="text" class="form-control" id="login_username" placeholder="username">
                    </div>
                    <div class="input-group login_input">
                        <input type="password" class="form-control" id="login_password" placeholder="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer align-center no-border">
                <button type="button" class="btn btn-primary" style="width: 150px" onclick="login()">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="register-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content background">
            <div class="modal-header align-center no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body no-border">
                <div class="register-profile align-center">
                    <img src="images/logo.jpg">
                </div>
                <form>
                    <div class="input-group login_input">
                        <input type="text" class="form-control" id="register_username" placeholder="username">
                    </div>
                    <div class="input-group login_input">
                        <input type="password" class="form-control" id="register_password" placeholder="password">
                    </div>
                    <div class="input-group login_input">
                        <input type="password" class="form-control" id="confirm_password"
                               placeholder="confirm password">
                    </div>
                    <div class="input-group login_input">
                        <div class="parentCls">
                            <input type="text" class="form-control inputElem" id="register_email" placeholder="email">
                        </div>
                    </div>
                    <div class="input-group login_input">
                        <input type="text" class="form-control" id="register_age" placeholder="age">
                    </div>
                </form>
            </div>
            <div class="modal-footer align-center no-border">
                <button type="button" class="btn btn-primary" style="width: 150px" onclick="register()">Register
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>