<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/stylesheets/public.css" />
    <link rel="stylesheet" href="../public/stylesheets/newHome.css" />

    <script src="../public/javascripts/jquery.min.js"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
</head>
<body>

<!--nav-->
<nav class="navbar navbar-default navbar-fixed-top height" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wave Team</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/newshome">News</a></li>
                <li><a href="/tradehome">Transactions</a></li>
                <li><a href="/userinfo">User</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--body-->
<div id="body">
    <div id="body-left">
        <h3>News</h3>
        <ul>
            <li>newsItem</li>
            <li>newsItem</li>
            <li>newsItem</li>
            <li>newsItem</li>
            <li>newsItem</li>
            <li>newsItem</li>
            <li>newsItem</li>
        </ul>
    </div>
</div>





<!--footer-->
<div id="footer" >
    <div id="footer-con">
        （Footer）Contact us Follow Us
    </div>
</div>
</body>
</html>